* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: linear-gradient(#000, #222, #444);
    overflow: hidden;
}

.title {
    color: #fff;
    text-align: center;
    margin-top: .5em;
}

.memory-game {
    display: flex;
    flex-wrap: wrap;
    width: 640px;
    height: 640px;
    margin: auto;
    perspective: 1000px;
    animation: zoom 1.2s;
}

.card {
    position: relative;
    width: calc(33.333% - 10px);
    height: calc(25% - 10px);
    margin: 5px;
    cursor: pointer;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .9s;
}

.card:active {
    transform: scale(0.97);
    transition: .3s;
}

.card:hover {
    border: 1px solid #ff0000;
}

.card-front,.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 10px;
    object-fit: cover;
    background-color: #fff;
    backface-visibility: hidden; /* retira o verso do elemento */
}

.card-front {
    transform: rotateY(180deg)
}

/* flip card animation */

.card.flip {
    transform: rotateY(180deg);
}

.btn-restart {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 180px;
    height: 60px;
    padding: 5px;
    font-size: 2rem;
    border-radius: .7em;
    cursor: pointer;
    display: none;
    background-color: #ffd700;
    font-weight: bold;
}

.btn-restart:hover {
    background-color: rgb(59, 59, 7);
    color: #ff0000;
}

@keyframes zoom {
    0%{
        transform: scale(3);
    }
    100%{
        transform: scale(1);
    }
}